<!-- Add to cart modal popup start-->
<ng-template #cartModal let-modal>
    <div class="modal-body">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-12">
                    <div class="modal-bg addtocart">
                        <button type="button" id="close-cart-modal" class="close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="media">
                            <a [routerLink]="['/shop/product/left/sidebar/', product.title.replace(' ', '-')]"> 
                                <img class="img-fluid pro-img" [src]="product.variants[0].image[0].url" [alt]="product.variants[0].image[0].url">
                            </a>
                            <div class="media-body align-self-center text-center">
                                <a [routerLink]="['/shop/product/left/sidebar/', product.title.replace(' ', '-')]">
                                    <h6>
                                        <i class="fa fa-check"></i>Item
                                        <span>{{ product.category | titlecase }}</span>
                                        <span> successfully added to your Cart</span>
                                    </h6>
                                </a>
                                <div class="buttons">
                                    <a [routerLink]="['/shop/cart']" class="view-cart btn btn-solid">Your cart</a>
                                    <a [routerLink]="['/shop/checkout']" class="checkout btn btn-solid">Check out</a>
                                    <a [routerLink]="['/shop/collection/left/sidebar']" class="continue btn btn-solid">Continue shopping</a>
                                </div>

                                <div class="upsell_payment">
                                    <img src="assets/images/payment_cart.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="product-section">
                            <div class="col-12 product-upsell text-center">
                                <h4>Customers who bought this item also.</h4>
                            </div>
                            <div class="row" id="upsell_product">
                                <ng-container *ngFor="let product of products | slice:0:4">
                                    <div class="product-box col-sm-3 col-6">
                                        <div class="img-wrapper">
                                            <div class="front">
                                                <a [routerLink]="['/shop/product/left/sidebar/', product.title.replace(' ', '-')]">
                                                    <img [src]="product.variants[0].image[0]" class="img-fluid mb-1" alt="">
                                                </a>
                                            </div>
                                            <div class="product-detail">
                                                <h6 class="mt-0">
                                                    <a [routerLink]="['/shop/product/left/sidebar/', product.title.replace(' ', '-')]"><span>{{ product.category | titlecase }}</span></a>
                                                </h6>
                                                <h4><span>{{ product.price * currency?.price | discount:product | currency:currency?.currency:'symbol' }}</span></h4>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!-- Add to cart modal popup end-->



<!-- {
    "_id": "6423c1e143a6b2322085904d",
    "productName": "Apple iPhone 14",
    "category": "Phones",
    "subCategory": "iPhone",
    "description": "Brand: \tApple\nModel Name: \tiPhone 14\nNetwork Service Provider:\tUnlocked for All Carriers\nOperating System:\tiOS 16\nCellular Technology: \t5G\n\n15.40 cm (6.1-inch) Super Retina XDR display\nAdvanced camera system for better photos in any light\nCinematic mode now in 4K Dolby Vision up to 30 fps\nAction mode for smooth, steady, handheld videos\nVital safety technology — Crash Detection calls for help when you can’t",
    "feature": [
      {
        "item": "..",
        "value": ".."
      }
    ],
    "variants": [
      {
        "variantsID": 1,
        "Name": "(128 GB) - Yellow",
        "variantValues": [
          {
            "name": "ROM",
            "value": "128 GB"
          },
          {
            "name": "Color",
            "value": "Yellow"
          }
        ],
        "image": [
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064620/Banner/laellowmh8jlxaa9wqcl.jpg",
            "public_id": "Banner/laellowmh8jlxaa9wqcl"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064632/Banner/ktmz3kprcaqabnb5h3kj.jpg",
            "public_id": "Banner/ktmz3kprcaqabnb5h3kj"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064633/Banner/thvhj69ab7umpsoqj14z.jpg",
            "public_id": "Banner/thvhj69ab7umpsoqj14z"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064635/Banner/csfslqbltqpfb0jcjqer.jpg",
            "public_id": "Banner/csfslqbltqpfb0jcjqer"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064636/Banner/shpjygdxkgpjijlvnisy.jpg",
            "public_id": "Banner/shpjygdxkgpjijlvnisy"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064641/Banner/ockwomllg2fclai5syki.jpg",
            "public_id": "Banner/ockwomllg2fclai5syki"
          }
        ],
        "offer": 72999,
        "price": 79999,
        "stock": 8
      },
      {
        "variantsID": 2,
        "Name": "(256 GB) - Yellow",
        "variantValues": [
          {
            "name": "ROM",
            "value": "256 GB"
          },
          {
            "name": "Color",
            "value": "Yellow"
          }
        ],
        "image": [
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064620/Banner/laellowmh8jlxaa9wqcl.jpg",
            "public_id": "Banner/laellowmh8jlxaa9wqcl"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064632/Banner/ktmz3kprcaqabnb5h3kj.jpg",
            "public_id": "Banner/ktmz3kprcaqabnb5h3kj"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064633/Banner/thvhj69ab7umpsoqj14z.jpg",
            "public_id": "Banner/thvhj69ab7umpsoqj14z"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064635/Banner/csfslqbltqpfb0jcjqer.jpg",
            "public_id": "Banner/csfslqbltqpfb0jcjqer"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064636/Banner/shpjygdxkgpjijlvnisy.jpg",
            "public_id": "Banner/shpjygdxkgpjijlvnisy"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064641/Banner/ockwomllg2fclai5syki.jpg",
            "public_id": "Banner/ockwomllg2fclai5syki"
          }
        ],
        "offer": 82999,
        "price": 89999,
        "stock": 3
      },
      {
        "variantsID": 3,
        "Name": "(512 GB) - Yellow",
        "variantValues": [
          {
            "name": "ROM",
            "value": "512 GB"
          },
          {
            "name": "Color",
            "value": "Yellow"
          }
        ],
        "image": [
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064620/Banner/laellowmh8jlxaa9wqcl.jpg",
            "public_id": "Banner/laellowmh8jlxaa9wqcl"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064632/Banner/ktmz3kprcaqabnb5h3kj.jpg",
            "public_id": "Banner/ktmz3kprcaqabnb5h3kj"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064633/Banner/thvhj69ab7umpsoqj14z.jpg",
            "public_id": "Banner/thvhj69ab7umpsoqj14z"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064635/Banner/csfslqbltqpfb0jcjqer.jpg",
            "public_id": "Banner/csfslqbltqpfb0jcjqer"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064636/Banner/shpjygdxkgpjijlvnisy.jpg",
            "public_id": "Banner/shpjygdxkgpjijlvnisy"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064641/Banner/ockwomllg2fclai5syki.jpg",
            "public_id": "Banner/ockwomllg2fclai5syki"
          }
        ],
        "offer": 92999,
        "price": 99999,
        "stock": 5
      },
      {
        "variantsID": 4,
        "Name": "(128 GB) - RED",
        "variantValues": [
          {
            "name": "ROM",
            "value": "128 GB"
          },
          {
            "name": "Color",
            "value": "Red"
          }
        ],
        "image": [
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064793/Banner/bqncdly2gpo8xjjnws8i.jpg",
            "public_id": "Banner/bqncdly2gpo8xjjnws8i"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064805/Banner/tzcqg2psjg9xvsimviep.jpg",
            "public_id": "Banner/tzcqg2psjg9xvsimviep"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064807/Banner/taqqq4289lgchp0f7myi.jpg",
            "public_id": "Banner/taqqq4289lgchp0f7myi"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064807/Banner/ojwxwtanbciozhknrxkg.jpg",
            "public_id": "Banner/ojwxwtanbciozhknrxkg"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064807/Banner/strlbkcbkyskmpijdoka.jpg",
            "public_id": "Banner/strlbkcbkyskmpijdoka"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064812/Banner/idoagkcmdaheimhokdih.jpg",
            "public_id": "Banner/idoagkcmdaheimhokdih"
          }
        ],
        "offer": 71999,
        "price": 79999,
        "stock": 3
      },
      {
        "variantsID": 5,
        "Name": "(256 GB) - RED",
        "variantValues": [
          {
            "name": "ROM",
            "value": "256 GB"
          },
          {
            "name": "Color",
            "value": "Red"
          }
        ],
        "image": [
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064793/Banner/bqncdly2gpo8xjjnws8i.jpg",
            "public_id": "Banner/bqncdly2gpo8xjjnws8i"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064805/Banner/tzcqg2psjg9xvsimviep.jpg",
            "public_id": "Banner/tzcqg2psjg9xvsimviep"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064807/Banner/taqqq4289lgchp0f7myi.jpg",
            "public_id": "Banner/taqqq4289lgchp0f7myi"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064807/Banner/ojwxwtanbciozhknrxkg.jpg",
            "public_id": "Banner/ojwxwtanbciozhknrxkg"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064807/Banner/strlbkcbkyskmpijdoka.jpg",
            "public_id": "Banner/strlbkcbkyskmpijdoka"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064812/Banner/idoagkcmdaheimhokdih.jpg",
            "public_id": "Banner/idoagkcmdaheimhokdih"
          }
        ],
        "offer": 81999,
        "price": 89999,
        "stock": 1
      },
      {
        "variantsID": 6,
        "Name": "(512 GB) - RED",
        "variantValues": [
          {
            "name": "ROM",
            "value": "512 GB"
          },
          {
            "name": "Color",
            "value": "Red"
          }
        ],
        "image": [
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064793/Banner/bqncdly2gpo8xjjnws8i.jpg",
            "public_id": "Banner/bqncdly2gpo8xjjnws8i"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064805/Banner/tzcqg2psjg9xvsimviep.jpg",
            "public_id": "Banner/tzcqg2psjg9xvsimviep"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064807/Banner/taqqq4289lgchp0f7myi.jpg",
            "public_id": "Banner/taqqq4289lgchp0f7myi"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064807/Banner/ojwxwtanbciozhknrxkg.jpg",
            "public_id": "Banner/ojwxwtanbciozhknrxkg"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064807/Banner/strlbkcbkyskmpijdoka.jpg",
            "public_id": "Banner/strlbkcbkyskmpijdoka"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064812/Banner/idoagkcmdaheimhokdih.jpg",
            "public_id": "Banner/idoagkcmdaheimhokdih"
          }
        ],
        "offer": 91999,
        "price": 99999,
        "stock": 10
      },
      {
        "variantsID": 7,
        "Name": "(128 GB) - Purple",
        "variantValues": [
          {
            "name": "ROM",
            "value": "128 GB"
          },
          {
            "name": "Color",
            "value": "Purple"
          }
        ],
        "image": [
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064928/Banner/wkp7u0yuj6rr5ejattuc.jpg",
            "public_id": "Banner/wkp7u0yuj6rr5ejattuc"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064935/Banner/gvo33vfbph25drwtoivn.jpg",
            "public_id": "Banner/gvo33vfbph25drwtoivn"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064936/Banner/bnv1pdxwwa9vujc21z9b.jpg",
            "public_id": "Banner/bnv1pdxwwa9vujc21z9b"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064936/Banner/chr3ir3crucavp1eptx1.jpg",
            "public_id": "Banner/chr3ir3crucavp1eptx1"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064937/Banner/sgevuxopnsb468qpzk8f.jpg",
            "public_id": "Banner/sgevuxopnsb468qpzk8f"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064941/Banner/rqkyxydcgrwo3eugnxzg.jpg",
            "public_id": "Banner/rqkyxydcgrwo3eugnxzg"
          }
        ],
        "offer": 81999,
        "price": 89999,
        "stock": 2
      },
      {
        "variantsID": 8,
        "Name": "(256 GB) - Purple",
        "variantValues": [
          {
            "name": "ROM",
            "value": "256 GB"
          },
          {
            "name": "Color",
            "value": "Purple"
          }
        ],
        "image": [
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064928/Banner/wkp7u0yuj6rr5ejattuc.jpg",
            "public_id": "Banner/wkp7u0yuj6rr5ejattuc"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064935/Banner/gvo33vfbph25drwtoivn.jpg",
            "public_id": "Banner/gvo33vfbph25drwtoivn"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064936/Banner/bnv1pdxwwa9vujc21z9b.jpg",
            "public_id": "Banner/bnv1pdxwwa9vujc21z9b"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064936/Banner/chr3ir3crucavp1eptx1.jpg",
            "public_id": "Banner/chr3ir3crucavp1eptx1"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064937/Banner/sgevuxopnsb468qpzk8f.jpg",
            "public_id": "Banner/sgevuxopnsb468qpzk8f"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064941/Banner/rqkyxydcgrwo3eugnxzg.jpg",
            "public_id": "Banner/rqkyxydcgrwo3eugnxzg"
          }
        ],
        "offer": 91999,
        "price": 99999,
        "stock": 5
      },
      {
        "variantsID": 9,
        "Name": "(512 GB) - Purple",
        "variantValues": [
          {
            "name": "ROM",
            "value": "512 GB"
          },
          {
            "name": "Color",
            "value": "Purple"
          }
        ],
        "image": [
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064928/Banner/wkp7u0yuj6rr5ejattuc.jpg",
            "public_id": "Banner/wkp7u0yuj6rr5ejattuc"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064935/Banner/gvo33vfbph25drwtoivn.jpg",
            "public_id": "Banner/gvo33vfbph25drwtoivn"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064936/Banner/bnv1pdxwwa9vujc21z9b.jpg",
            "public_id": "Banner/bnv1pdxwwa9vujc21z9b"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064936/Banner/chr3ir3crucavp1eptx1.jpg",
            "public_id": "Banner/chr3ir3crucavp1eptx1"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064937/Banner/sgevuxopnsb468qpzk8f.jpg",
            "public_id": "Banner/sgevuxopnsb468qpzk8f"
          },
          {
            "url": "http://res.cloudinary.com/dfx1wpxqz/image/upload/v1680064941/Banner/rqkyxydcgrwo3eugnxzg.jpg",
            "public_id": "Banner/rqkyxydcgrwo3eugnxzg"
          }
        ],
        "offer": 101999,
        "price": 110999,
        "stock": 3
      }
    ],
    "variantsModel": [
      "ROM",
      "Color"
    ],
    "stockManagement": true,
    "hidden": false,
    "id": 100
  } -->