<app-breadcrumb [title]="'Login'" [breadcrumb]="'Login'"></app-breadcrumb>
<!-- section start -->
<section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Login</h3>
                <div class="theme-card">
                    <form [formGroup]="loginForm" (ngSubmit)="login()"   class="theme-form">
                        <div class="form-group">
                            <label for="phone">phone</label>
                            <input type="phone" formControlName="phone" name="phone" class="form-control" id="phone" placeholder="Enter Phone" required="">
                            <div style="color:red;" *ngIf="((this.loginForm.get('phone')?.dirty)||this.loginForm.get('phone')?.touched)&&(this.loginForm.get('phone')?.errors)">Please Enter Valid Email</div>
                            <label for="phone">&nbsp;</label>
                        </div>
                        <!-- <div class="form-group">
                            <label for="review">Password</label>
                            <input type="password" formControlName="password"  name="email" class="form-control" id="password" placeholder="Enter your password" required="">
                            <div style="color:red;" *ngIf="((this.loginForm.get('password')?.dirty)||this.loginForm.get('password')?.touched)&&(this.loginForm.get('password')?.errors)">Please Enter Valid Password</div>
                            <label for="Password">&nbsp;</label>
                        </div> -->
                        <div class="row">
                            <div class="col-lg-8">
                                <button type="submit" class="btn btn-solid" >Login</button>
                            </div>
                            <div class="col-lg-4" style="padding:20px 0px 0px 1px ;">
                                <a style="font-size:16px ;"  [routerLink]="['/pages/login']" > Login With Email </a>
                            </div>
                        </div>

                        
                       
                    </form>
                </div>
            </div>
            <div class="col-lg-6 right-login">
                <h3>New Customer</h3>
                <div class="theme-card authentication-right">
                    <h6 class="title-font">Create A Account</h6>
                    <p>Sign up for a free account at our store. Registration is quick and easy. It allows you to be able to order from our shop. To start shopping click register.</p>
                    <button class="btn btn-solid" [routerLink]="'/pages/register'">Create an Account</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->