<div
  class="container height-100 d-flex justify-content-center align-items-center"
>
  <div class="position-relative">
    <div class="card p-2 text-center">
      <h6>
        Please enter the one time password <br />
        to verify your account
      </h6>
      <div>
        <span>A code has been sent to</span>
        <small>*******{{ SlicedPhoneNumber }}</small>
      </div>
      <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
        <input
          class="m-2 text-center form-control rounded"
          type="text"
          id="first"
          maxlength="1"
          [(ngModel)]="col1"
        />
        <input
          class="m-2 text-center form-control rounded"
          type="text"
          id="second"
          maxlength="1"
          [(ngModel)]="col2"
        />
        <input
          class="m-2 text-center form-control rounded"
          type="text"
          id="third"
          maxlength="1"
          [(ngModel)]="col3"
        />
        <input
          class="m-2 text-center form-control rounded"
          type="text"
          id="fourth"
          maxlength="1"
          [(ngModel)]="col4"
        />
      </div>
      <div>{{ display }}</div>
      <div *ngIf="!otpButtonFlag" class="mt-4">
        <button class="btn btn-danger px-4 validate" (click)="verifyOtp()">
          Validate
        </button>
      </div>
      <div *ngIf="otpButtonFlag" class="mt-4">
        <button class="btn btn-danger px-4 validate" (click)="verifyOtp()">
          Resend OTP
        </button>
      </div>
    </div>
  </div>
</div>
