<div
  class="container height-100 d-flex justify-content-center align-items-center"
>
  <div class="position-relative">
    <div class="card p-2 text-center">
      <h6>
        Please enter the one time password <br />
        to verify your account
      </h6>
      <div>
        <span>A code has been sent to</span>
        <small>*******{{ SlicedPhoneNumber }}</small>
      </div>
      <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
        <input
          class="m-2 text-center form-control rounded"
          type="text"
          id="first"
          maxlength="1"
          [(ngModel)]="col1"
          autofocus
          (keyup)="focusColoumntwo.focus()"
        />
        <input #focusColoumntwo
          class="m-2 text-center form-control rounded"
          type="text"
          id="second"
          maxlength="1"
          [(ngModel)]="col2"
          (keyup)="focusColoumnthree.focus()"
        />
        <input #focusColoumnthree
          class="m-2 text-center form-control rounded"
          type="text"
          id="third"
          maxlength="1"
          [(ngModel)]="col3"
          (keyup)="focusColoumnFour.focus()"
        />
        <input #focusColoumnFour
          class="m-2 text-center form-control rounded"
          type="text"
          id="fourth"
          maxlength="1"
          [(ngModel)]="col4"
          (keyup)="focusColoumnFour.focus()" 
        />
      </div>
      <div *ngIf="SlicedPhoneNumber" >{{ display }}</div>
      <div *ngIf="!otpButtonFlag" class="mt-4">
        <button class="btn btn-danger px-4 validate" (click)="verifyOtp()">
          Validate
        </button>
      </div>
      <div *ngIf="otpButtonFlag" class="mt-4">
        <button class="btn btn-danger px-4 validate" (click)="verifyOtp()">
          Resend OTP
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="ibox-content login-form">
  <div class="form-group">
      <input type="text" class="form-control" id="inputUername" placeholder="Username" [(ngModel)]="loginData.username" autofocus  (keyup.enter)="focusablePassword.focus()">
  </div>
  <div class="form-group">
      <input #focusablePassword type="password" class="form-control" id="inputPassword" placeholder="Password" [(ngModel)]="loginData.password" (keyup.enter)="focusableSubmit.focus()" >
  </div>
  <button #focusableSubmit type="submit" icon="fa fa-sign-in" class="btn btn-primary" [disabled]="loginData.username == '' || loginData.password == ''"
      (click)="login()">Login</button>
  <div class="login-error-message" *ngIf="content.loginFailed">
      <p>Invalid username or password</p>
  </div>
</div> -->